header {
    color: blue;
    text-align: center;
    font-size: 20px;
    
}

#container-wateruiv2---Worklist--_IDGenIconTabFilter1 {
    font-family: fantasy;
    font-size: 100px;
}



.iconTF2 {
    font-family: fantasy;
    font-size: 100px;
}